<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div><img src="https://www.digitalhouse.com/">"logo do teste do site" </div>
    <nav>
      <ol>
        <li><a href="https://facebook.com">Facebook</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
        <li><a href="https://https://github.com/">GitHub</a></li>
      </ol>
    </nav>
    <h1>conteúdo principal</h1>
    <div>
    <p>Testando tudo que aprendi</p>
    </div>
    <main>
      <mark>testando mais um comando</mark><br>
     <em>outro testes</em> 
    </main>
    <div>
      terceiro elemento em bloco
    </div>

  </header>
  <section>
    <article>
<img src="https://drive.google.com/file/d/17epaTYUrVhmuRDzlDyFldTnnyJMIwnCg/view">
<h2 align = "center">Facebook</h2>
<p>Meu segundo titulo</p>
<ol>
  <li>testando</li>
  <li>novos testes</li>
  <li>treinando</li>
</ol>
    </article>
  
    
  </section>
  <section>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quia incidunt exercitationem reprehenderit veritatis dolorem illum cum, eaque excepturi rerum, consequuntur nemo voluptas repudiandae provident nisi vero. Delectus, aliquid nulla!</p>
  </section>
  <footer>
    <section>
      <h3>Produtos</h3>
      <span>Isto é um span</span>
      <ul>
        <li><a href="https://https://www.homehost.com.br/blog/tutoriais/html-img/">primeiro link</a></li>
        <li><a href="https://www.homehost.com.br/blog/tutoriais/html-img/">segundo link</a></li>
        <li><a href="www.google">terceiro link</a></li>
      </ul>

    </section>
  
  </footer>
  </body>
  

  
</body>
</html>